{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-lg-6 form-group">
    <h1>Edytuj</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-primary" type="submit" value="Zatwierdź" />
    {{ form_end(edit_form) }}

    
            {{ form_start(delete_form) }}
            <p class="text-right"><input class="btn btn-outline btn-danger" type="submit" value="Usuń zwierzątko" onClick="if(confirm('Czy napewno chcesz usunąć zwierzątko ?')==false) return false;"></p>
            {{ form_end(delete_form) }}
        
{% endblock %}
