{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Wizyty</strong>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>

                                <th>Rozpoczęcie</th>
                                <th>Zakończenie</th>
                                <th>Zwierzę</th>
                                <th>Pracownik</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for visit in visits %}


                                <tr>
                                    <td>{{ visit.dataStart|date('Y-m-d H:i:s') }}</td>
                                    <td>{{ visit.dataEnd|date('Y-m-d H:i:s') }}</td>
                                    <td>{{ visit.animals.name }}</td>
                                    <td>{{ visit.employee.username }}</td>
                                    <td>

                                        <a href="{{ path('visits_edit', { 'id': visit.id }) }}"> <button type="button" class="btn btn-outline btn-info btn-xs">Edytuj</button></a>
                                        <a href="{{ path('visits_delete', { 'id': visit.id }) }}"> <button type="button" class="btn btn-outline btn-danger btn-xs" onClick="if (confirm('Czy napewno chcesz usunąć wizytę ?') == false) return false;">Usuń</button></a>

                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endblock %}
