{% extends 'base.html.twig' %}

{% block body %}
    <h1>Visit</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ visit.id }}</td>
            </tr>
            <tr>
                <th>Datastart</th>
                <td>{% if visit.dataStart %}{{ visit.dataStart|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dataend</th>
                <td>{% if visit.dataEnd %}{{ visit.dataEnd|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('visits_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('visits_edit', { 'id': visit.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
