{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <div class="col-lg-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Filmy</strong>
            </div>
            <div class="panel-body">
                <div class="table-responsive">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Link</th>
                                <th>Data</th>
                                <th>Zwierzątko</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for movie in movies %}
                                <tr>
                                    <td>{{ movie.link }}</td>
                                    <td>{{ movie.date|date('Y-m-d H:i:s') }}</td>
                                    <td>{{ movie.animal.name }}</td>
                                    <td>{{ movie.employee.username }}</td>
                                    <td>

                                        <a href="{{ path('movies_edit', { 'id': movie.id }) }}"> <button type="button" class="btn btn-outline btn-info btn-xs">Edytuj</button></a>
                                        <a href="{{ path('movies_delete', { 'id': movie.id }) }}"> <button type="button" class="btn btn-outline btn-danger btn-xs" onClick="if (confirm('Czy napewno chcesz usunąć film ?') == false)
                                                    return false;">Usuń</button></a>

                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                {% endblock %}
