{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Zamówienia</strong>
            </div>
            <div class="panel-body">
                <div class="table-responsive">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Klient</th>
                                <th>Data</th>
                                <th>Cena</th>
                                <th>Akcje</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>{{ order.owner.username }}</td>
                                    <td>{{ order.date|date('Y-m-d H:i') }}</td>
                                    <td>{{ order.price }}</td>
                                    <td>

                                        <a href="{{ path('orders_edit', { 'id': order.id }) }}"> <button type="button" class="btn btn-outline btn-info btn-xs">Edytuj</button></a>
                                        <a href="{{ path('orders_delete', { 'id': order.id }) }}"> <button type="button" class="btn btn-outline btn-danger btn-xs" onClick="if(confirm('Czy napewno chcesz usunąć zamówienie ?')==false) return false;">Usuń</button></a>
                                       
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                {% endblock %}
