{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Użytkownicy</strong>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#customer" data-toggle="tab">Klienci</a>
                    </li>
                    <li><a href="#employee" data-toggle="tab">Pracownicy</a>
                    </li>
                    <li><a href="#admin" data-toggle="tab">Admin</a>
                    </li>

                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="customer">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Telefon</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in customer %}
                                    <tr>
                                        <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.username }}</a></td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.phone }}</td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>    

                    </div>
                    <div class="tab-pane fade" id="employee">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Telefon</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in employee %}
                                    <tr>
                                        <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.username }}</a></td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.phone }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table> 

                    </div>
                    <div class="tab-pane fade" id="admin">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Telefon</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in admin %}
                                    <tr>
                                        <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.username }}</a></td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.phone }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
{% endblock %}
