{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="text-center">{{ user.username }} </h3> <p class="text-right"><a href="{{ path('user_edit', { 'id': user.id }) }}"> <button type="button" class="btn btn-outline btn-info btn-xs">Edytuj</button></a></p>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab">Dane</a>
                    </li>
                    <li><a href="#animal" data-toggle="tab">Zwierzęta</a>
                    </li>
                    <li><a href="#Orders" data-toggle="tab">Wizyty</a>
                    </li>
                    <li><a href="#settings" data-toggle="tab">Filmy</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="home">
                        <h4>Email:</h4>
                        <p>{{ user.email}}</p>
                        <h4>Adres:</h4>
                        <p>{{ user.address}}</p>
                        <h4>Telefon:</h4>
                        <p>{{ user.phone}}</p>
                        <h4>Telefon alarmowy:</h4>
                        <p>{{ user.alarmPhone}}</p>
                    </div>
                    <div class="tab-pane fade" id="animal">
                        {% for animal in user.animals %}  
                            <h4>{{ animal.name }}</h4>
                            <p>{{ animal.description }}</p>
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="Orders">
                        <h4>Wizyty</h4>
                        <ul>
                            {% for order in user.orders %} 
                                <li>{{ order.date|date('Y-m-d') }} - kwota: {{ order.price }}</li>
                                {% endfor %}
                        </ul>   

                    </div>
                    <div class="tab-pane fade" id="settings">
                        <h4>Filmy</h4>
                        {% for animal in user.animals %} 
                            {% for movie in animal.movie %}
                                <li>{{ movie.date|date('Y-m-d') }} -> kwota: {{ movie.link }}</li>
                                {% endfor %}
                            {% endfor %}
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>


{% endblock %}
